/*---------- COLOR ----------*/
$color-primary-red: hsl(10, 79%, 65%);
$color-primary-cyan: hsl(186, 34%, 60%);
$color-primary-dark: hsl(25, 47%, 15%);
$color-primary-medium: hsl(28, 10%, 53%);
$color-secondary: hsl(27, 66%, 92%);
$color-secondary-light: hsl(33, 100%, 98%);

/*---------- FONT ----------*/
$font-default: "DM Sans", sans-serif;
$fw-regular: 400;
$fw-bold: 700;
